@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
   Sydney, NSW, Australia<br />
   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@ozibazaar.com">info@ozibazaar.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@oziBazaar.com">marketing@oziBazaar.com</a>
</address>