
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UserManagement/Views/Shared/_UserDashboardLayout.cshtml";
}

<h2>Index</h2>

<img src="~/Content/Image/mazda1.jpg" />
<img src="~/Content/Image/toyota2.png" class="span1"/>
