@model IEnumerable<OziBazaar.DAL.ProductImage>

<h4>Upload Images</h4>

@using (Html.BeginForm("Upload", "Media", new { adId = ViewBag.AdvertisementId, productId = ViewBag.ProductId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <h5>
            You can select multiple files and then click upload
        </h5>
     <label for="file">Image File(s)</label>
     <input type="file" name="files" value="" multiple="multiple" /><br /><br />
     <input type="submit" value="Upload Image" class="btn btn-primary" />
     @Html.ActionLink("Back", "ViewProduct", new { controller = "Product", adId = ViewBag.AdvertisementId, productId = ViewBag.ProductId }, new { @class = "btn btn-primary" })
    </div>
}
<br />
<br/>
<div class="form-horizontal">
    @Html.Partial("ProductImages", Model)
</div>