@model IEnumerable<OziBazaar.Web.Models.Ad>

@{
    ViewBag.Title = "Ad List";
}

<h2>All Ad List</h2>
@if(ViewBag.IsEditable)
{
    <p>
        @Html.ActionLink("Create New", "AddAd","Ad")
    </p>
}
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

@if(ViewBag.IsEditable)
            {
              <th></th>
            }
            
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>                
                @Html.ActionLink(item.Title, "ViewProduct", "Product", new { adId = item.Id }, null)
            </td>
            @if(ViewBag.IsEditable)
            {  
            <td>
               
                @Html.ActionLink("Edit", "EditProduct", "Product", new {advertisementId=item.Id , productId = item.ProductId,categoryId=item.CategoryId }, null)
                @if (item.EndDate < DateTime.Now)
                {
                    <span style="color:red;"> (Expired)</span>
                }
                else if( item.StartDate > DateTime.Now)
                {
                    <span style="color:green;"> (Future)</span>
                }
            </td>
            }
        </tr>
    }
</table>
