
@{
    ViewBag.Title = "Message";
    Layout = "~/Areas/UserManagement/Views/Shared/_UserDashboardLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="hero-unit">
            <h2>@ViewBag.Message</h2>
        </div>
    </div>
</div>

